:root{
    --white: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
    --padding: 150px;

    --outfit: Outfit;
    --young-serf: "Young Serif", serif;
}
 

body{
    background-color: var(--white);
}

span{
    color: var(--Stone600);
    font-weight: bold;
}


.image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.image img{
    border-radius: 15px;
    width: 80%;
    height: 80%;
    margin: auto;
}


.discroption{
    margin: 0 130px;
    padding: 10px 0 10px 10px;
}
.discroption h1{
    font-family: var(--young-serf);
    font-weight: 400;
    font-style: normal;
    color: var(--Stone900);
}
.discroption p{
    font-family: var(--outfit);
    font-weight: 400;
    font-style: normal;
    color: var(--Stone600);
    letter-spacing: 1px;
}

.time{
    background-color: var(--Rose50);
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 15px 0 15px 20px;
    font-family: var(--outfit);
    color: var(--Rose800);
}
.time ul li{
    padding-bottom: 10px;
    padding-left: 20px;
    color: var(--Stone600);
}
.time ul li::marker{
    color: var(--Rose800);
    font-weight: bold;
}

.ingredients{
    width: 80%;
    margin: auto;
    padding: 10px 0 10px 10px;
    font-family: var(--outfit);
    color: var(--Brown800);
}
.ingredients h1{
    font-family: var(--young-serf);
    font-weight: 400;
}
.ingredients ul li{
    padding-bottom: 20px;
    padding-left: 0px;
    margin-left: 0px;
    color: var(--Stone600);
}
.ingredients ul li::marker{
    color: var(--Brown800);
    font-weight: bold;
}

.instructions{
    width: 80%;
    margin: auto;
    padding: 10px 0 10px 10px;
    font-family: var(--outfit);
    color: var(--Brown800);
}
.instructions h1{
    font-family: var(--young-serf);
    font-weight: 400;
}
.instructions ol li{
    padding-bottom: 20px;
    padding-left: 0px;
    margin-left: 0px;
    color: var(--Stone600);
}
.instructions ol li::marker{
    color: var(--Brown800);
    font-weight: bold;
}

.nutriton{
    width: 80%;
    margin: auto;
    padding: 10px 0 10px 10px;
    font-family: var(--outfit);
    color: var(--Brown800);
}
.nutriton h1{
    font-family: var(--young-serf);
    font-weight: 400;
}
.nutriton p{
    font-family: var(--outfit);
    font-weight: 400;
    font-style: normal;
    color: var(--Stone600);
    letter-spacing: 1px;
}
.nutriton .details{
    display: flex;
    justify-content: space-between;
    padding-right: 45%;
    padding-left: 40px;
}
.nutriton .details .detail{
    color: var(--Stone600);
    font-weight: 400;
}


@media screen and (max-width:375px) {  /* make the website fit mobile devices */
    body{
        margin: 0px;
    }

    .image{
        position: relative;
        display: block;
        padding-top: 0px;
        top: 0px;
        left: 0px;
    }
    .image img{
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .discroption{
        margin: 5px 15px 0px 15px;
        padding: 10px 0 10px 10px;
    }

    .ingredients ul {
        padding-left: 10px;
        margin-left: 10px;
    }

    .instructions ol {
        padding-left: 0px;
        margin-left: 00px;
    }

    .nutriton .details{
        display: flex;
        justify-content: space-between;
        padding-right: 25%;
        padding-left: 15px;
        height: 50px;
    }
    .nutriton .details .detail{
        color: var(--Stone600);
        font-weight: 400;
    }
}